<!DOCTYPE html>
<html lang="es">
<head>
<title>{{ page.title }}</title>
<meta charset="utf-8" />
</head>
<body>
<header>
<h1>{{ site.title }}</h1>
<h2>{{ site.author }}</h2>
<details>
<summary>Índice</summary>
<nav aria-label="Índice">
<ul>
<li><a href="index.html">Introducción</a></li>
<li><a href="herramientas.html">Herramientas necesarias.</a></li>
<li><a href="mensajes.html">Mensajes en la pantalla.</a></li>
<li><a href="comentarios.html">Comentarios.</a></li>
<li><a href="variables.html">Variables.</a></li>
<li><a href="tiposDeDatos.html">Tipos de datos.</a></li>
<li><a href="comunicacionConElUsuario.html">Comunicación con el usuario.</a></li>
<li><a href="problemaPractico.html">Un problema práctico</a></li>
<li><a href="operadores.html">Recopilación de operadores.</a></li>
<li><a href="condicionales.html">Condicionales.</a></li>
<li><a href="condicionalesComplejos.html">Condicionales complejos.</a></li>
<li><a href="codigoQueSeRepite.html">Código que se repite.</a></li>
<li><a href="repeticionConCondicion.html">Repetición con condición.</a></li>
<li><a href="modulos.html">Módulos</a></li>
<li><a href="listsYTuplas.html">Listas y tuplas.</a></li>
<li><a href="argumentos.html">Argumentos.</a></li>
</ul>
</nav>
</details>
</header>
<main>
{{content}}
</main>
</body>
</html>